.menu {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.671);
    padding: 15px;
    font-family: Comic Sans MS;
    color: #000000;
}

body{
    background-color:rgba(71, 183, 248, 0.829);
    margin: 0px;
    font-family: Comic Sans MS;
    color: #a42fec;
}

a{
    text-decoration: none;
} 

a:link{
    color: #10dedf;
}

a:visited{
    color: #97afaf;
}

.bodyimg{
    position: relative;
}

.bodyimg p{
    color:#f7f2f2;
    font-size: 55px;
    font-family: Comic Sans MS;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    color:#f7f2f2;
    font-family: Comic Sans MS;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:45%;
    transform: translate(-40%, -40%);
}

.grid {
    display: flex;
    flex-wrap: nowrap;
    margin: 40px;
    font-family: Comic Sans MS;
}

.grid img {
    border: 2px solid rgba(0, 0, 0, 0.411);
    border-radius: 50px;
}

.origami {
    border-radius: 20px;
    background-color: rgba(51, 139, 207, 0.445);
    width: 310px;
    padding: 30px;
    margin: 25px;
    font-family: Comic Sans MS;
}

.origami:hover{
    color: #000080;
    opacity: 0.8;
    transform: scale(0.98);
}